body {
    background-color: rgb(5, 0, 17);
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter';
}

* {
    margin: 0;
    padding: 0;
}
.h1{
    font-size: 35px;
    color:rgb(253, 30, 104)
}
.p{
    font-size: 16px;
    margin: 5% 5%
}
.h2 {
    margin: 5% 5%
}
.principal {
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 50% 50%;
}

.container__aviso {
    font-size: 20px;
    color:#c0c0c0;
}

.container__titulo{
   font-size:40px;
   text-align: center;
   font-weight: 700;
   color: #ed145b;
}

.imagem__logo{
    width: 20%;
    height: 20%;
}


.segundo__titulo{
    text-align: center;
    font-size:30px;  
}

.rodape{
    margin:2% 2%
}
.rodape__lista {
    list-style-type: none;
    margin-top: -3%;
}

.lista__link a{
    text-align: center;
    text-decoration: none;
    color: #f6f6f6;
    margin-left: 2%;
}

.lista__linka:hover{
    color: #ed145b;
}


.lista__link a:active{
    color:#ed145b;
}

.link__site {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em;
    text-align: center;
    text-decoration: none;
    color: #f6f6f6;
    margin-left: 1em;
}
.favorito {
    position:absolute;
    right: 90px;
    top: 550px;
}
.fav {
    position: absolute;
    right: 150px;
    top: 550px;
    color:rgb(90, 230, 183)
}
.fiapinho {
    position: absolute;
    top: 570px;
    right: 620px;
    width: 690px;
    height: 350px;
}
.sitefav {
    position: absolute;
    top: 215px;
    right: 1685px;
}
.twitch {
    position: absolute;
    top: 250px;
    right: 1650px;
}
.youtube {
    position: absolute;
    top: 215px;
    right: 1505px;
}
.logoyt {
    position: absolute;
    top: 250px;
    right: 1465px;
}
.netflix {
    position: absolute;
    top: 215px;
    right: 1325px;
}
.logonetflix {
    position: absolute;
    top: 250px;
    right: 1280px;
}
.valorant {
    position: absolute;
    top: 215px;
    right: 1140px;
}
.logovava {
    position: absolute;
    top: 250px;
    right: 1100px;
}
.crunchyroll {
    position: absolute;
    top: 215px;
    right: 945px;
}
.logocrunchyroll {
    position: absolute;
    top: 250px;
    right: 920px;
}
.kabum {
    position: absolute;
    top: 215px;
    right: 795px;
}
.logokabum {
    position: absolute;
    top: 250px;
    right: 750px;
}
.amazon {
    position: absolute;
    top: 215px;
    right: 620px;
}
.logoamazon {
    position: absolute;
    top: 250px;
    right: 580px;
}
.hbo {
    position: absolute;
    top: 215px;
    right: 440px;
}
.logohbo {
    position: absolute;
    top: 250px;
    right: 410px;
}
.disney {
    position: absolute;
    top: 215px;
    right: 280px;
}
.logodisney {
    position: absolute;
    top: 250px;
    right: 240px;
}
.star {
    position: absolute;
    top: 215px;
    right: 125px;
}
.logostar {
    position: absolute;
    top: 250px;
    right: 75px;
}
.return {
    position: absolute;
    top: 800px;
    right: 900px;
    font-size: 20px;
}